<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.equalitie.ouisync.lib"
  xmlns:tools="http://schemas.android.com/tools">

  <application>
    <provider
      tools:replace="android:authorities"
      android:name=".PipeProvider"
      android:authorities="${applicationId}.pipe"
      android:exported="true"/>
  </application>
</manifest>
