/target
proptest-regressions
Cargo.lock
bindings/dart/ios/libouisync_ffi.a
bindings/dart/macos/libouisync_ffi.dylib

# This is a symbolic link created by {windows,linux}/CMakeLists.txt scripts
# because git often doesn't support symlinks by default (depends on which OS,
# git version and .gitconfig).
bindings/dart/ouisync
