.dart_tool/
.packages
.pub/
build/
ios/ouisync_bin/
pubspec.lock

.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json

.idea/
.idea/vcs.xml
.idea/libraries/Flutter_Plugins.xml
.idea/workspace.xml

.DS_Store

# This is a symbolic link created by {windows,linux}/CMakeLists.txt scripts
# because git often doesn't support symlinks by default (depends on which OS,
# git version and .gitconfig).
ouisync
